<template>
  <page pageId='mine'>
    <h1>我的</h1>
  </page>
</template>

<script>
import Page from '../../common/page.vue'
export default {
components: {
  [Page.name]:Page
},
 created() {
   console.log(aaaaa)
 }
}
</script>

<style>

</style>